/* START OF RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*END OF RESET*/

/*TYPOGRAPHY*/
html {font-size: 100%;} /*16px*/

body {
  background: white;
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
}

p {margin-bottom: 1rem; font-size: 16px;}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Jost', sans-serif;
  font-weight: 700;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 5.653rem;
}

h2 {font-size: 3.998rem;}

h3 {font-size: 2.827rem;}

h4 {font-size: 1.999rem;}

h5 {font-size: 1.414rem;}

small, .text_small {font-size: 0.707rem;}
/*END OF TYPO*/
/*GLOBAL*/
a{
    text-decoration: none;
   
}
.m2{
    padding: 4em 0 2em;
}
.m1 {
  margin: 10px;
}
.wrapper{
   max-width: 1400px;
   margin: 0 auto;
   
}
.y-c{
    align-items: center;
}
.x-bw{
    justify-content: space-between;
}
.x-bc{
  margin-left: 3em;
  padding: 7em;
  
}
.d-flex{
    display: flex;
   
}
.btn{
    padding: 16px 32px;
    color: #333;
    border-radius: 30px;
}
.btn-primary{
    background-color: #333;
    color: white;
    font-weight: 500;
    line-height: 41px;
    margin-right: 1em;
}
.btn-outline{
    border: 2px solid rgb(22, 22, 22);
    font-weight: 500;
}
.btn-play{
    width: 40px;
    height: 40px;
    margin: 0 1em;
}

.icn{
  margin-top: 20px;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.txt{
  text-align: center;
  font-size: large  ;
}
.txt2{
  text-align: left;
  margin-top: 15px;
  margin-left: 30px;
}

/*END OF GLOBAL*/
/*MAIN*/
#logo{
    margin: 0;
}
nav a{
    margin: 0 1em;
    color: #000000;
}

.hero{
    background: linear-gradient(rgb(158, 31, 197),rgb(48, 189, 255));
}
.hero-copy{ /*See on hero jaoks, et nad oleks üksteise all*/
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.hero-copy h4{
    display: flex;
    align-items: center;
}
.hero-copy hr{
    width: 20px;
    margin-right: 0.3em;
    margin-left: 0.3em;
    height: 4px;
    background-color: #333;
}
.image{    /*See on backgound kuju jaoks*/
    height: 700px;
    width: 700px;
    -webkit-mask-image: url(/assets/blob.svg); 
    mask-image: url(/assets/blob.svg);
}
.image-mask{ /*See on pilt mis sinna sisse läheb*/
    background: url(/assets/Gal.jpg);
    background-size: cover;
}
.kermit{
  height: 50px;
  width: 50px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 2px 3px 5px #333;
  
  
  
}
.text{
 
  margin-left: 10px;
  margin-top: 20px;
  line-height: 15px;
  font-size: 100;
}
.box{
  border-radius: 25px;
  height: 170px;
  width: 270px;
  font-size: small;
  box-shadow: 2px 3px 20px #333;
  margin: 2em;
  background-color: rgb(189, 150, 235);
}
.insert{
  height: 30px;
  width: 30px;
  
}
.date{
  margin-top: 20px;
}
.image-kermit{
  background: url(/assets/kermit.jpg);
    background-size: cover;
}
.data{
  margin-left: 10px;
  margin-bottom: 25px;
}
.clo{
  position: absolute;
  margin-top: 10em;
}
.board{
  margin-top: 4em;
}
.icnC{
  margin-top: 20px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.icnE{
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin-top: 20px;
  margin-left: 30px;
}

.center{
  position: absolute;
  margin-left: 70px;
  margin-top: px;
  padding: 0;
  
}
.box2{
  border-radius: 25px;
  margin-left: 20em;
  height: 400px;
  width: 300px;
  background-color: rgb(250, 184, 251);
  position: absolute;
}
.box3{
  border-radius: 25px;
  margin-top: 27em;
  margin-left: 14em;
  height: 220px;
  width: 400px;
  background-color: rgb(250, 184, 251);
  position: absolute;
}
.box4{
  margin-left: 4em;
  margin-top: 7em;
  border-radius: 25px;
  height: 250px;
  width: 150px;
  width: 230px;
  font-size: small;
  background-color: rgb(250, 184, 251);
  position: absolute;
}
.circle {
  background: magenta;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-top: 20em;
  margin-left: 5em;
  opacity: 80%;
  z-index: 0;
}

.start{
  margin-top: 30px;
}
.inv{
  margin-bottom: 70px;
}
.down{
  position: absolute;
  margin-left: 95px;
}
/*END OF MAIN*/